@mixin deleteLeftContentGap {
    @media screen and (max-width: 1280px) {
        margin-left: -44px;
    }

    @media screen and (max-width: $tabWidth) {
        margin-left: -30px;
    }

    @media screen and (max-width: $midPhoneWidth) {
        margin-left: unset;
    }
}

.content-wrapper {
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto 50px auto;

    @media all and (max-width: $tabWidth) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: $midPhoneWidth) {
        margin-bottom: 25px;
    }
}

.content {
    .about-composition {
        display: flex;
        justify-content: space-between;
        height: 760px;
        margin-bottom: 50px;

        @media screen and (max-width: 1680px) {
            height: 48vw;
        }

        @media screen and (max-width: $midPhoneWidth) {
            height: auto;
            flex-direction: column;
            margin-bottom: 25px;
        }

        .banner,
        .details {
            width: 48%;

            @media screen and (max-width: 1680px) {
                width: 48vw;
            }

            @media screen and (max-width: $tabWidth) {
                width: 50vw;
                margin-bottom: 15px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                width: 100vw;
            }
        }

        .banner {
            position: relative;

            @media screen and (max-width: $midPhoneWidth) {
                height: 100vw;
            }

            .picture {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0;
            text-align: center;

            color: $main-color;

            @media all and (max-width: $tabWidth) {
                padding: 35px 0;
            }

            @media screen and (max-width: $midPhoneWidth) {
                padding: 10px 0;
            }

            p {
                margin: 0;
            }

            .head {
                text-transform: uppercase;

                @media screen and (max-width: $midPhoneWidth) {
                    margin-bottom: 10px;
                }
            }

            .title {
                @media screen and (max-width: $midPhoneWidth) {
                    margin-bottom: 10px;
                }

                p {
                    width: 60%;
                    margin: auto;

                    @media all and (max-width: $tabWidth) {
                        width: 95%;
                    }

                    @media screen and (max-width: $midPhoneWidth) {
                        margin-bottom: 10px;
                    }
                }
            }

            .head,
            .title p {
                @include adaptive-font-all(24px, 18px, 12px);
                @include adaptive-line-height-all(29px, 22px, 15px);
            }

            h2 {
                @include adaptive-font-all(48px, 30px, 18px);

                @media all and (max-width: $tabWidth) {
                    margin: 0;
                }
            }
        }
    }

    .content-body {
        @media screen and (max-width: $midPhoneWidth) {
            text-align: center;
        }

        &.with-menu {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $midPhoneWidth) {
                flex-direction: column;
            }

            .article-content {
                flex-grow: 1;
                margin-right: 75px;

                @media all and (max-width: $tabWidth) {
                    margin-right: 20px;
                }

                @media screen and (max-width: $midPhoneWidth) {
                    margin: 0 0 30px 0;
                }
            }

            aside {
                margin-right: 90px;

                @media all and (max-width: $tabWidth) {
                    max-width: 240px;
                    margin-right: 5px;
                }

                @media screen and (max-width: $midPhoneWidth) {
                    margin: 0 auto 0 auto;
                }
            }
        }

        .article-content {
            width: 100%;
            color: $main-color;
            padding-left: 44px;

            @media all and (max-width: $tabWidth) {
                padding-left: 30px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                padding: 0 25px;
            }
        }

        h1 {
            margin-top: 0;
            margin-bottom: 50px;

            @include adaptive-font-all(64px, 30px, 18px);
            @include adaptive-line-height-all(78px, 36px, 22px);
            font-weight: 300;

            @media all and (max-width: $tabWidth) {
                margin-bottom: 30px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                padding-top: 10px;   
            }
        }

        p {
            margin: 0 0 25px 0;
            @include adaptive-font-all(24px, 18px, 12px);

            @media all and (max-width: $tabWidth) {
                margin-bottom: 15px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                margin-bottom: 10px;
            }

            &.emphasized {
                margin-bottom: 50px;
                @include adaptive-font-all(36px, 27px, 12px);
                @include adaptive-line-height-all(44px, 32px, 14px);
                font-weight: 600;

                @media all and (max-width: $tabWidth) {
                    margin-bottom: 15px;
                }
            }
        }

        aside nav {
            color: $main-color;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 30px;
                    @include adaptive-font-all(24px, 18px, 12px);
                    @include adaptive-line-height-all(29px, 22px, 15px);
                    font-weight: 300;

                    @media all and (max-width: $tabWidth) {
                        margin-bottom: 15px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .article-grid {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            @include deleteLeftContentGap();

            @media screen and (max-width: $midPhoneWidth) {
                flex-direction: column;
            }

            &-elem {
                width: 50%;
                padding: 23px 46px;

                &_fill-bg
                {
                    background-color: #F8F8F8;
                }

                @media screen and (max-width: $tabWidth) {
                    padding: 22px 5px 25px 30px;
                }

                @media screen and (max-width: $midPhoneWidth) {
                    width: 100%;
                    padding: 5px;
                }

                h3 {
                    @include adaptive-font-all(24px, 18px, 12px);
                    margin: 0 0 20px 0;

                    @media screen and (max-width: $midPhoneWidth) {
                        padding-top: 20px;
                    }
                }

                p {
                    @include adaptive-font-all(18px, 16px, 12px);
                    @include adaptive-line-height-all(30px, 25px, 20px);
                }

                .btn {
                    @include adaptive-font-all(18px, 18px, 12px);
                    font-weight: 600;
                }
            }

            &_tasks {
                margin-bottom: 50px;

                .article-grid-elem {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }

        .hive-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $midPhoneWidth) {
                flex-direction: column;
            }
        }

        .i10n-grid {
            &-elem, &-elem .picture {
                width: 380px;
                height: 280px;

                @media screen and (max-width: $midPhoneWidth) {
                    width: 154px;
                    height: 113px;
                }
            }

            &-elem {
                margin: 25px;

                @media screen and (max-width: $midPhoneWidth) {
                    margin: 0 0 25px 0;
                }
            }
        }

        .title-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            p, .desc p {
                color: $text-secondary-color;
                margin-bottom: 5px;

                @include adaptive-font-all(24px, 18px, 12px);
                @include adaptive-line-height-all(30px, 22px, 15px);

                font-weight: 400;
            }

            .desc {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                background-color: #fff;

                padding: 20px 50px;
                margin-left: 35px;

                min-width: 800px;
                box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.1);
                

                .title-cell {
                    flex-grow: 1;
                }
            }
        }
    }

    .fill-sec-bg {
        background-color: #f8f8f8;
    }
}

.study-page {
    .dep {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 115px;

        @include deleteLeftContentGap();

        @media screen and (max-width: $tabWidth) {
            padding-bottom: 15px;
        }

        .row {
            display: flex;
            flex-direction: row;

            @media screen and (max-width: 1366px) {
                margin-bottom: 10px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }

        &-elem-pic,
        &-elem-desc {
            width: 228px;
            height: 228px;
        }

        &-elem-pic {
            @media screen and (max-width: $tabWidth) {
                width: 125px;
                height: 125px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                width: 22vw;
                height: 22vw;
            }
        }

        &_left-gap {
            margin-left: 456px;

            @media screen and (max-width: 1366px) {
                margin-left: 0;
            }
        }

        &-elem {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media screen and (max-width: $midPhoneWidth) {
                text-align: left;
                align-items: center;
                margin-bottom: 10px;
            }

            &_down {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                @media screen and (max-width: $tabWidth) {
                    display: block;
                }
            }
        }

        &-elem-desc {
            padding: 0 10px;

            @media screen and (max-width: $tabWidth) {
                width: 220px;
                height: 125px;
            }

            @media screen and (max-width: $midPhoneWidth) {
                width: 58vw;
                height: auto;
            }
        }

        &-elem-btn {
            @include adaptive-font-all(18px, 18px, 12px);

            @media screen and (max-width: $tabWidth) {
                color: #fff;
                background-color: $main-color;
            }
        }

        &-title {
            margin-bottom: 15px;
            @include adaptive-font-all(24px, 27px, 12px);
            @include adaptive-line-height-all(29px, 33px, 14.63px);
            font-weight: 600;
        }
    }

    .fac {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 143px 0 220px 0;

        @include deleteLeftContentGap();

        @media screen and (max-width: $tabWidth) {
            padding: 0 0 35px 0;
            justify-content: space-around;
        }

        @media screen and (max-width: $midPhoneWidth) {
            flex-direction: column;
            padding-bottom: 0;
        }

        &-elem {
            background-color: #fff;
            width: 462px;
            height: 382px;
            margin-right: 100px;
            text-align: center;

            @media screen and (max-width: $tabWidth) {
                width: 43vw;
                height: auto;
                margin-right: 0;
            }

            @media screen and (max-width: $midPhoneWidth) {
                width: 82vw;
                margin-bottom: 10px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &-elem-pic {
            width: 100%;
            height: 129px;

            @media screen and (max-width: $tabWidth) {
                background-size: 100% 100%;
                height: 15.2vw;
            }

            @media screen and (max-width: $midPhoneWidth) {
                height: 23vw;
            }
        }

        &-elem-title {
            @include adaptive-font-all(36px, 27px, 18px);
            @include adaptive-line-height-all(44px, 33px, 22px);
            font-weight: 600;

            @media screen and (max-width: $midPhoneWidth) {
                padding: 0 10px;
            }
        }

        &-elem-pic,
        &-elem-title {
            margin-bottom: 68px;

            @media screen and (max-width: $tabWidth) {
                margin-bottom: 15px;
            }
        }

        &-elem-btn {
            display: block;
            margin-bottom: 23px;
            @include adaptive-font-all(24px, 18px, 12px);
        }
    }

    .cen {
        padding: 87px 0 240px 0;

        @include deleteLeftContentGap();

        @media screen and (max-width: $tabWidth) {
            padding: 0 0 35px 0;
        }

        @media screen and (max-width: $midPhoneWidth) {
            padding: 0;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            margin-bottom: 60px;

            @media screen and (max-width: $tabWidth) {
                flex-direction: column;
                margin-bottom: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .cen-elem {
                margin-right: 40px;

                @media screen and (max-width: $tabWidth) {
                    margin-right: 0;
                    margin-bottom: 50px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-elem {
            position: relative;
            width: 400px;
            background-color: #f8f8f8;
            padding: 7px 0;
            text-align: center;

            @media screen and (max-width: $tabWidth) {
                width: 44.2vw;
            }

            @media screen and (max-width: $midPhoneWidth) {
                width: 82vw;
                margin-bottom: 20px;
            }
        }

        &-elem-heading {
            margin-bottom: 10px;
            text-transform: uppercase;
            @include adaptive-font-all(18px, 18px, 12px);
            font-weight: 400px;
        }

        &-elem-title {
            margin-bottom: 10px;
            @include adaptive-font-all(36px, 27px, 18px);
            @include adaptive-line-height-all(44px, 33px, 22px);
            font-weight: 600;
        }

        &-elem-desc {
            max-width: 208px;
            margin: 0 auto 35px auto;
            @include adaptive-font-all(18px, 18px, 12px);
            @include adaptive-line-height-all(22px, 22px, 14.5px);
            font-weight: 400;
        }

        &-elem-btn {
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 100%;

            @media screen and (max-width: $tabWidth) {
                bottom: -8px;
            }

            a {
                background-color: #fff;
                padding: 9px 50px;
                @include adaptive-font-all(18px, 18px, 12px);
                font-weight: 600;
                box-shadow: 0px 0px 92px 7px rgba(0, 0, 0, 0.1);

                @media screen and (max-width: $tabWidth) {
                    color: #fff;
                    background-color: $main-color;
                }
            }
        }
    }
}

.admission-page {
    h2 {
        color: $main-color;

        max-width: 44vw;
        margin: 0 0 10px 0;

        @include adaptive-font-all(54px, 30px, 18px);
        @include adaptive-line-height-all(66px, 36px, 22px);

        font-weight: 600;

        @media screen and (max-width: $midPhoneWidth) {
            text-align: center;
        }
    }

    h3 {
        color: $main-color;

        margin: 0;

        @include adaptive-font-all(36px, 27px, 18px);
        @include adaptive-line-height-all(44px, 33px, 22px);

        font-weight: 600;
    }

    h4 {
        color: $main-color;
        @include adaptive-font-all(24px, 18px, 12px);
        font-weight: 400;
    }

    .content .content-body > .row {
        min-height: 520px;
        padding: 40px 0;
    }

    .calculator-wrapper {
        
        background-color: $background-sec-color;

        p {
            color: $main-color;
            margin-bottom: 5px;

            @include adaptive-font-all(24px, 18px, 12px);
            @include adaptive-line-height-all(30px, 22px, 15px);

            font-weight: 400;
        }

        .cell:first-child {
            margin-bottom: 20px;
        }
    }

    .admission-calculator {
        background-color: #fff;

        width: 577px;
        margin: auto;

        border-radius: 30px;

        .calc-tabs {
            display: flex;
            flex-direction: row;

            &-item {
                color: $inactive-elem-color;

                flex-grow: 1;
                padding: 20px 70px;

                @include adaptive-font-all(24px, 18px, 12px);

                font-weight: 600;
                text-align: center;

                &.active {
                    color: $main-color;

                    border: 1px solid $main-color;
                    border-top-left-radius: 30px;
                    border-top-right-radius: 30px;
                    border-bottom: none;
                }
            }
        }

        .calc-content {
            position: relative;

            padding: 30px 90px;
            border: 1px solid $main-color;

            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;

            border-top: none;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: calc(50% + 10px);
                width: calc(50% - 30px);
                border-top: 1px solid $main-color;
                border-top-right-radius: 30px;
            }
        }

        .calc-form {
            &-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                width: 100%;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-field {
                display: block;

                color: #000;

                padding: 10px 15px;

                border: 1px solid $main-color;
                border-radius: 10px;

                text-align: center;

                &__title {
                    flex-grow: 1;
                    line-height: 200%;
                }

                &__input {
                    position: relative;
                    width: 94px;
                    margin-left: 13px;

                    text-align: center;

                    input[type="text"] {
                        width: 100%;
                        border: none;
                        text-align: center;
                    }
                }
            }

            .form-btn {
                width: 100%;

                margin-top: 25px;
                border-radius: 10px;

                @include adaptive-font-all(18px, 18px, 12px);
            }
        }
    }

    .spec-types-wrapper {
        .tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;

            margin-bottom: 50px;

            .tab {
                cursor: pointer;
                color: $inactive-elem-color;

                padding: 25px 45px;
                border: 1px solid transparent;

                @include adaptive-font-all(36px, 27px, 18px);
                font-weight: 500;

                &.active, &:hover {
                    color: $main-color;
                    border-color: $main-color;
                }
            }
        }
    }

    .sub-tab-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .side {
            width: 48%;
        }

        .tab {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 35px;


            .num {
                width: 68px;
                height: 68px;

                margin-right: 70px;

                border: 2px solid $main-color;
                border-radius: 100%;

                @include adaptive-font-all(28px, 12px, 12px);
                font-weight: 500;
                text-align: center;
                line-height: 68px;
            }

            .title {
                flex-grow: 1;

                color: $inactive-elem-color;

                @include adaptive-font-all(24px, 18px, 12px);
                font-weight: 400;
            }


            &.active {
                .num {
                    color: #fff;
                    background-color: $main-color;
                }

                .title {
                    color: $main-color;
                }
            }
        }

        .sub-tab-content {
            p {
                color: #000;

                margin-bottom: 40px;

                @include adaptive-font-all(24px, 18px, 12px);
                @include adaptive-line-height-all(29px, 22px, 15px);
                font-weight: 300;
            }

            .btn {
                min-width: 510px;
                margin-bottom: 25px;
                font-weight: 400;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .events-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .cell:first-child {
            width: 48%;
        }

        .cell:last-child {
            margin-left: 65px;
        }

        .events-list {
            h3, &-item {
                margin-bottom: 50px;
            }

            &-item {
                display: block;
                padding: 15px 72px 15px 12px;
                border: 1px solid $main-color;

                .title {
                    color: $main-color;
                    @include adaptive-font-all(24px, 18px, 12px);
                    font-weight: 600;
                }

                .date {
                    color: $text-secondary-color;
                    @include adaptive-font-all(18px, 18px, 12px);
                    font-weight: 400;
                }

                &.important {
                    .title {
                        color: $important-color;
                    }
                }
            }
        }
    }

    .events-calendar {
        &-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 40px;

            .btn-circle {
                color: $main-color;
                background: transparent;

                width: 68px;
                height: 68px;

                padding: 0;
                border: 1px solid $main-color;
                border-radius: 100%;

                font-size: 30px;
                text-align: center;
                line-height: 68px;

                &:hover {
                    color: #fff;
                    background-color: $main-color;
                }
            }

            .title {
                color: $main-color;
                @include adaptive-font-all(36px, 27px, 18px);
                font-weight: 600;
            }
        }

        &-table {
            width: 100%;
            border: 1px solid $table-cell-border-color;
            border-collapse: collapse;

            td {
                position: relative;
                color: $main-color;

                width: 6.9vw;
                height: 6.9vw;

                padding: 10px 24px;
                border: 1px solid $table-cell-border-color;

                @include adaptive-font-all(24px, 18px, 12px);
                font-weight: 400;
                text-align: right;
                vertical-align: text-top;

                &.inactive-date {
                    color: $inactive-elem-color;
                }

                .event-marks {
                    position: absolute;
                    right: 10px;
                    bottom: 10px;

                    text-align: right;

                    div {
                        content: '';
                        display: inline-block;
                        width: 11px;
                        height: 11px;
                        background-color: $main-color;
                        border-radius: 100%;
                        margin-right: 4px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.important {
                            background-color: $important-color;
                        }
                    }
                }
            }
        }
    }
}
