$footer-color: #f8f8f8;
$footer-logo-size: 151px;
$footer-links-color: #00D1FF;
$text-primary-color: #323F8B;
$socials-icon-size: 32px;

%social-icon {
    display: inline-block;
    width: $socials-icon-size;
    height: $socials-icon-size;
}

%background-fit {
    background: {
        position: center;
        size: contain;
        repeat: no-repeat;
    }
}

.footer-wrapper {
    width: 100%;
    background-color: $footer-color;

    footer {
        width: 100%;
        max-width: 1380px;
        color: $text-primary-color;
        padding: 20px 0;
        margin: 0 auto;

        font-size: 15px;
        font-weight: 400;
        line-height: 24px;

        .row {
            width: 100%;
        }

        .top-footer {
            display: flex;
            justify-content: space-between;

            padding-bottom: 15px;
            margin-bottom: 16px;
            border-bottom: 1px solid $text-primary-color;

            .search {
                padding-left: 29px;

                background-image: url(../images/icon-search.png);
                background-position: 8px center;
                background-size: 13px 16.25px;
                background-repeat: no-repeat;
            }

            .socials {
                a {
                    @extend %social-icon;
                    cursor: pointer;
                    margin-right: 14px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .icon {
                    @extend %social-icon;
                    @extend %background-fit;

                    @each $name in (fb, inst, yt, wa) {
                        &.icon-#{$name} {
                            background-image: url(../images/icon-#{$name}.png);
                        }
                    }
                }
            }
        }

        .bottom-footer {
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                word-wrap: break-word;
            }

            .logo {
                width: $footer-logo-size;
                height: $footer-logo-size;

                @extend %background-fit;

                margin-right: 27px;
            }

            .copyright {
                flex-grow: 1;
                font-weight: 600;
            }

            .addr {
                max-width: 174px;
            }

            .phones {
                margin-right: 66px;
            }

            .section {
                .title {
                    margin-bottom: 5px;
                    font-weight: 600;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    a {
                        color: $footer-links-color;
                    }
                }
            }
        }
    }
}