$footer-color: #f8f8f8;

.footer-wrapper {
    width: 100%;
    background-color: $footer-color;

    footer {
        width: 100%;
        max-width: 1380px;
        padding: 20px 0;
        margin: 0 auto;

        .row {
            width: 100%;
        }

        .top-footer {
            display: flex;
            justify-content: space-between;

            .search {
                padding-left: 29px;

                background-image: url(../images/icon-search.png);
                background-position: 8px center;
                background-size: 13px 16.25px;
                background-repeat: no-repeat;
            }
        }
    }
}