@import url(//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800);

$main-color: #394188;
$content-max-width: 1680px;

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.hide-mobile {
    @media screen and (max-width: 576px) {
        display: none !important;
    }
}

.hide-mid-desktop {
    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.show-mobile {
    @media screen and (min-width: 576px) {
        display: none !important;
    }
}

.show-mid-desktop {
    @media screen and (min-width: 1280px) {
        display: none !important;
    }
}