$primary-color: #394188;

.btn {
    color: #fff;
    background: $primary-color;
    cursor: pointer;
    padding: 8px 19px;

    font: {
        size: 24px;
        weight: 600;
    }

    text: {
        align: center;
        decoration: none;
    }
}

div.picture {
    background: {
        position: top center;
        size: 100% auto;
        repeat: no-repeat;
    }
}