$primary-color: #394188;
$primary-color-transparent: rgba(57, 65, 136, 0.5);
$text-primary-color: #323F8B;

$maxWidth: 1680px;
$tabWidth: 768px;
$phoneWidth: 320px;

.btn {
    display: inline-block;
    color: #fff;
    background: $primary-color;
    cursor: pointer;
    padding: 8px 19px;
    border: 1px solid $primary-color;

    font: {
        size: 24px;
        weight: 600;
    }

    text: {
        align: center;
        decoration: none;
    }

    @media screen and (max-width: 768px) {
        padding: 5px 35px;
    }

    @media screen and (max-width: 576px) {
        padding: 5px 10px;
    }
}

.btn-sec {
    @extend .btn;

    color: $text-primary-color;
    background: transparent;
}

.btn-banner {
    position: absolute;
    top: calc(50% - 44px);
    width: 49.5px;
    height: 88px;

    cursor: pointer;

    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 50;

    @media screen and (max-width: $tabWidth) {
        top: calc(50% - 20px);
        width: 23px;
        height: 40px;
    }

    &.btn-left {                
        left: 42px;
        background-image: url(../images/btn-left.png);

        @media screen and (max-width: $tabWidth) {
            left: 20px;
        }
    }

    &.btn-right {
        right: 42px;
        background-image: url(../images/btn-right.png);

        @media screen and (max-width: $tabWidth) {
            right: 20px;
        }
    }
}

div.picture {
    background: {
        position: top center;
        size: 100% auto;
        repeat: no-repeat;
    }
}

a {
    color: $text-primary-color;
    text-decoration: none;
}

%active-text-field {
    color: $primary-color;
}

@mixin search-icon {
    background-image: url(../images/icon-search.png);
    background-position: 8px center;
    background-size: 13px 16.25px;
    background-repeat: no-repeat;
}

input {
    &[type="text"] {
        color: $primary-color-transparent;
        background: transparent;
        border: 1px solid $primary-color;
        padding: 4px 8px;

        &:hover {
            @extend %active-text-field;
        }

        &:focus {
            @extend %active-text-field;
        }

        &.search {
            padding-left: 29px;
            @include search-icon();
        }
    }
}