$primary-color: #394188;
$primary-color-transparent: rgba(57, 65, 136, 0.5);
$text-primary-color: #323F8B;

.btn {
    display: inline-block;
    color: #fff;
    background: $primary-color;
    cursor: pointer;
    padding: 8px 19px;
    border: 1px solid $primary-color;

    font: {
        size: 24px;
        weight: 600;
    }

    text: {
        align: center;
        decoration: none;
    }
}

.btn-sec {
    @extend .btn;

    color: $text-primary-color;
    background: transparent;
}

div.picture {
    background: {
        position: top center;
        size: 100% auto;
        repeat: no-repeat;
    }
}

a {
    color: $text-primary-color;
    text-decoration: none;
}

%active-text-field {
    color: $primary-color;
}

@mixin search-icon {
    background-image: url(../images/icon-search.png);
    background-position: 8px center;
    background-size: 13px 16.25px;
    background-repeat: no-repeat;
}

input {
    &[type="text"] {
        color: $primary-color-transparent;
        background: transparent;
        border: 1px solid $primary-color;
        padding: 4px 8px;

        &:hover {
            @extend %active-text-field;
        }

        &:focus {
            @extend %active-text-field;
        }

        &.search {
            padding-left: 29px;
            @include search-icon();
        }
    }
}