$main-color: #394188;
$text-primary-color: #323F8B;
$text-secondary-color: #848484;

.index-page .content {
    display: grid;

    grid-template-areas: 
        "title pic1 gap1"
        "pic2 gap2 pic3"
        "news pic4 pic4"
        "pic5 adv adv";
    
    grid-template-rows: 460px 610px 840px 340px;
    grid-template-columns: 840px 459px 381px;

    width: 100%;

    @each $selector, $area in ( grid-cell-11: title, grid-cell-12: pic1, grid-cell-13: gap1,
                                grid-cell-21: pic2, grid-cell-22: gap2, grid-cell-23: pic3,
                                grid-cell-31: news, grid-cell-32: pic4, 
                                grid-cell-41: pic5, grid-cell-42: adv) {
        .#{$selector} {
            grid-area: $area;
        }
    }

    .title-box {
        h1 {
            color: $main-color;
            margin: 0;

            font: {
                size: 54px;
                weight: 600;
            }

            line-height: 65px;
        }

        @mixin secondary-text {
            color: $text-secondary-color;
            font: {
                size: 24px;
                weight: 400;
            }
            line-height: 29px;
        }

        .desc {
            @include secondary-text();

            p {
                margin: 30px 0;
            }
        }

        .admission {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding: 20px 53px;
            margin-left: auto;
            box-shadow: 0px 4px 90px rgba(0, 0, 0, .1);

            .desc {
                @include secondary-text();
            }

            h2 {
                color: $main-color;
                margin: 0;

                font: {
                    size: 36px;
                    weight: 600;
                }
            }
        }
    }

    .grid-cell {
        position: relative;

        .picture {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &.grid-cell-21 {
            .picture {
                background-size: auto 100%;
                background-position: top right;
            }
        }
    }

    .news {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $text-primary-color;
        padding: 120px 44px;

        %news-sec-text {
            margin: 0;
            font-size: 24px;
            font-weight: 400;
        }

        .counter {
            position: absolute;
            top: 25px;
            right: 25px;

            @extend %news-sec-text;
        }

        h2 {
            @extend %news-sec-text;
        }

        .published-time {
            @extend %news-sec-text;
        }

        .news-list {
            display: flex;
            flex-grow: 1;

            section {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3 {
                    margin: 0;
                    font-size: 54px;
                    font-weight: 600;
                    line-height: 66px;
                }
            }
        }

        &.announcements {
            padding: 14px 25px;

            .news-list section h3 {
                font-size: 36px;
                line-height: 44px;
            }
        }
    }
}