$main-color: #394188;
$text-primary-color: #323F8B;
$text-secondary-color: #848484;

$maxWidth: 1680px;
$tabWidth: 768px;
$phoneWidth: 320px;

@mixin adaptive-font($pcSize, $phoneSize) {
    // Реализация на основе этой статьи: https://habr.com/ru/company/vk/blog/315196/
    $mVal: ($pcSize - $phoneSize) / ($maxWidth - $phoneWidth);
    $bVal: $phoneSize - $mVal * $phoneWidth;

    font-size: $phoneSize;

    @media screen and (min-width: ($phoneWidth + 1px)) {
        font-size: calc($mVal * 100vw + $bVal);
    }

    @media screen and (min-width: $maxWidth) {
        font-size: $pcSize;
    }
}

@mixin adaptive-line-height($pcSize, $phoneSize) {
    // Реализация на основе этой статьи: https://habr.com/ru/company/vk/blog/315196/
    $mVal: ($pcSize - $phoneSize) / ($maxWidth - $phoneWidth);
    $bVal: $phoneSize - $mVal * $phoneWidth;

    line-height: $phoneSize;

    @media screen and (min-width: ($phoneWidth + 1px)) {
        line-height: calc($mVal * 100vw + $bVal);
    }

    @media screen and (min-width: $maxWidth) {
        line-height: $pcSize;
    }
}

@mixin adaptive-font-tab($pcSize, $tabSize) {
    // Реализация на основе этой статьи: https://habr.com/ru/company/vk/blog/315196/
    $mVal: ($pcSize - $tabSize) / ($maxWidth - $phoneWidth);
    $bVal: $tabSize - $mVal * $phoneWidth;

    font-size: $tabSize;

    @media screen and (min-width: ($tabWidth + 1px)) {
        font-size: calc($mVal * 100vw + $bVal);
    }

    @media screen and (min-width: $maxWidth) {
        font-size: $pcSize;
    }
}

@mixin adaptive-line-height-tab($pcSize, $tabSize) {
    // Реализация на основе этой статьи: https://habr.com/ru/company/vk/blog/315196/
    $mVal: ($pcSize - $tabSize) / ($maxWidth - $phoneWidth);
    $bVal: $tabSize - $mVal * $phoneWidth;

    line-height: $tabSize;

    @media screen and (min-width: ($tabWidth + 1px)) {
        line-height: calc($mVal * 100vw + $bVal);
    }

    @media screen and (min-width: $maxWidth) {
        line-height: $pcSize;
    }
}

@mixin adaptive-font-all($pcSize, $tabSize, $phoneSize) {
    $mValTab: ($pcSize - $tabSize) / ($maxWidth - $tabWidth);
    $bValTab: $tabSize - $mValTab * $tabWidth;

    $mValPhone: ($pcSize - $phoneSize) / ($maxWidth - $phoneWidth);
    $bValPhone: $phoneSize - $mValPhone * $phoneWidth;

    @media screen and (max-width: $phoneWidth) {
        font-size: $phoneSize;
    }

    @media screen and (min-width: ($phoneWidth + 1px)) {
        font-size: calc($mValPhone * 100vw + $bValPhone);
    }

    @media screen and (min-width: $tabWidth) {
        font-size: $tabSize;
    }

    @media screen and (min-width: ($tabWidth + 1px)) {
        font-size: calc($mValTab * 100vw + $bValTab);
    }

    @media screen and (min-width: $maxWidth) {
        font-size: $pcSize;
    }
}

@mixin adaptive-line-height-all($pcSize, $tabSize, $phoneSize) {
    $mValTab: ($pcSize - $tabSize) / ($maxWidth - $tabWidth);
    $bValTab: $tabSize - $mValTab * $tabWidth;

    $mValPhone: ($pcSize - $phoneSize) / ($maxWidth - $phoneWidth);
    $bValPhone: $phoneSize - $mValPhone * $phoneWidth;

    @media screen and (max-width: $phoneWidth) {
        line-height: $phoneSize;
    }

    @media screen and (min-width: ($phoneWidth + 1px)) {
        line-height: calc($mValPhone * 100vw + $bValPhone);
    }

    @media screen and (min-width: $tabWidth) {
        line-height: $tabSize;
    }

    @media screen and (min-width: ($tabWidth + 1px)) {
        line-height: calc($mValTab * 100vw + $bValTab);
    }

    @media screen and (min-width: $maxWidth) {
        line-height: $pcSize;
    }
}

.index-page .content {
    display: grid;

    grid-template-areas: 
        "title pic1 gap1"
        "pic2 gap2 pic3"
        "news pic4 pic4"
        "pic5 adv adv"
        "part part part";
    
    grid-template-rows: 460px 610px 840px 340px;
    grid-template-columns: 840px 459px 381px;

    width: 100%;

    @each $selector, $area in ( grid-cell-11: title, grid-cell-12: pic1, grid-cell-13: gap1,
                                grid-cell-21: pic2, grid-cell-22: gap2, grid-cell-23: pic3,
                                grid-cell-31: news, grid-cell-32: pic4, 
                                grid-cell-41: pic5, grid-cell-42: adv,
                                grid-cell-5: part) {
        .#{$selector} {
            grid-area: $area;
        }
    }

    @media screen and (max-width: 1680px) {
        grid-template-rows: 27.32vw 36.31vw 50vw 20.24vw;
        grid-template-columns: 50vw 27.32vw 22.68vw;
    }

    @media screen and (max-width: 1280px) {
        grid-template-areas: 
            "title pic1"
            "pic4 news"
            "adv pic5"
            "part part";
        
        grid-template-rows: 50vw 50vw 35.94vw;
        grid-template-columns: 50vw 50vw;
    }

    @media screen and (max-width: 576px) {
        grid-template-areas: 
            "pic1"
            "title"
            "pic4"
            "news"
            "pic5"
            "adv"
            "part";
        
        grid-template-rows: 100vw auto 100vw auto 40vw auto auto;
        grid-template-columns: 100vw;
    }

    .title-box {
        padding-left: 44px;

        @media screen and (max-width: 1280px) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding-left: 30px;
        }

        @media screen and (max-width: 576px) {
            padding-left: 0;
        }

        h1 {
            color: $main-color;
            margin: 0;

            font: {
                weight: 600;
            }

            @include adaptive-font(54px, 18px);
            @include adaptive-line-height(65.83px, 21.94px);
        }

        @mixin secondary-text {
            color: $text-secondary-color;
            font: {
                size: 24px;
                weight: 400;
            }
            line-height: 29px;
        }

        h1 + .desc {
            @include secondary-text();

            @include adaptive-font-all(24px, 18px, 12px);
            @include adaptive-line-height-tab(29.26px, 21.94px);

            p {
                margin: 30px 0;

                @media screen and (max-width: $tabWidth) {
                    margin: 15px 0;
                }
            }
        }

        .admission {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding: 20px 53px;
            margin-left: auto;
            box-shadow: 0px 4px 90px rgba(0, 0, 0, .1);

            z-index: 10;

            @media screen and (max-width: 1576px) {
                padding: 10px 20px;
            }

            @media screen and (max-width: 1280px) {
                flex-direction: column;
                align-items: flex-start;
                padding: 20px;
                margin-right: -10%;
            }

            @media screen and (max-width: 830px) {
                min-width: 412px;
            }

            @media screen and (max-width: 576px) {
                min-width: unset;
                align-items: center;
                padding: 5px 20%;
                margin: 0;
                text-align: center;          
            }

            .section {
                @media all and (max-width: $tabWidth) {
                    margin-bottom: 5px;
                }

                &:last-child {
                    margin-bottom: 0
                }
            }

            .desc {
                @include secondary-text();
                @include adaptive-font(24px, 12px);
                @include adaptive-line-height(29.26px, 14.63px);
            }

            h2 {
                color: $main-color;
                margin: 0;

                font: {
                    weight: 600;
                }

                // @include adaptive-font(36px, 18px);
                @include adaptive-font-all(36px, 26px, 18px);
                @include adaptive-line-height(43.88px, 21.94px);
            }

            .btn {
                // @include adaptive-font(24px, 12px);
                @include adaptive-font-all(24px, 12px, 12px);

                @media all and (max-width: $tabWidth) {
                    padding: 5px 35px;
                }

                @media all and (max-width: ($tabWidth - 1px))
                {
                    font-size: 12px;
                }
            }
        }
    }

    .grid-cell {
        position: relative;

        .picture {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &.grid-cell-21 {
            .picture {
                background-size: auto 100%;
                background-position: top right;
            }
        }
    }

    .news {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $text-primary-color;
        padding: 120px 44px;

        @media screen and (max-width: $tabWidth) {
            padding: 25px 13px;
        }

        @media screen and (max-width: 576px) {
            padding: 40px 5px 15px 5px;
        }

        %news-sec-text {
            margin: 0;
            font-weight: 400;

            @include adaptive-font-all(24px, 18px, 12px);
        }

        .counter {
            position: absolute;
            top: 25px;
            right: 25px;

            @extend %news-sec-text;

            @media screen and (max-width: $tabWidth) {
                right: 13px;
            }

            @media screen and (max-width: 576px) {
                top: 10px;
                right: 5px;
            }
        }

        h2 {
            @extend %news-sec-text;

            @media screen and (max-width: $tabWidth) {
                position: absolute;
                top: 25px;
                left: 13px;
            }

            @media screen and (max-width: 576px) {
                top: 10px;
                left: 5px;
            }
        }

        .published-time {
            @extend %news-sec-text;

            @media screen and (max-width: 576px) {
                margin-bottom: 15px;
            }
        }

        .news-list {
            display: flex;
            flex-grow: 1;

            section {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                @media screen and (max-width: $tabWidth) {
                    justify-content: center;
                }

                h3 {
                    margin: 0;
                    font-weight: 600;
                    line-height: 66px;

                    @include adaptive-font-all(54px, 30px, 18px);
                    @include adaptive-line-height-all(65.83px, 36.57px, 21.94px);

                    @media screen and (max-width: $tabWidth) {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .btn-sec {
            @include adaptive-font-all(24px, 18px, 12px);
        }

        &.announcements {
            padding: 14px 25px;

            .news-list section h3 {
                font-size: 36px;
                line-height: 44px;
            }
        }
    }

    .news-banners {
        position: relative;

        .btn-banner {
            position: absolute;
            top: calc(50% - 44px);
            width: 49.5px;
            height: 88px;

            cursor: pointer;

            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            z-index: 50;

            @media screen and (max-width: $tabWidth) {
                top: calc(50% - 20px);
                width: 23px;
                height: 40px;
            }

            &.btn-left {                
                left: 42px;
                background-image: url(../images/btn-left.png);

                @media screen and (max-width: $tabWidth) {
                    left: 20px;
                }
            }

            &.btn-right {
                right: 42px;
                background-image: url(../images/btn-right.png);

                @media screen and (max-width: $tabWidth) {
                    right: 20px;
                }
            }
        }
    }

    .partners {
        padding: 50px 0;
        text-align: center;

        a {
            display: inline-block;
            margin-right: 60px;
        }
    }
}